build/
build-debug/
build-Debug/
cmake-build-debug/
# CMake
*.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Debug
server.key
server.pem
Testing/
*.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata/

